.btn-border {
    width: 140px;
    display: inline-block;
    max-width: 180px;
    text-align: center;
    border: 2px solid #000000;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
  }
  
  .btn-border:hover {
    background-color: #000000;
    border-color: #818181;
    color: #FFF;
  }